@import "../../theme.scss";

section {
  min-width: 30%;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;

  h2 {
    color: $secondary-color;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    place-content: center space-around;
    align-items: center;
    padding: 2em;

    .mat-form-field {
      width: 100%;
    }
  }
}
